<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu navegacao</title>
</head>
<body>
  <nav class="menu-navegacao">
    <div class="menu-navegacao-logo">
      <img src="assets/logo.png" class="logo">
      <span class="menuNavegacao_logo-nome">CinePedia</span>
    </div>
    <ul class="menu">
      <li><a routerLink="/perfil" class="nav-link">Perfil</a></li>
      <li><a routerLink="/listagem" class="nav-link">Filmes</a></li>
      <li><a routerLink="/relatorio" class="nav-link">Relatório</a></li>
    </ul>
  </nav>
</body>
</html>
