@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.hero {
  min-height: 100vh;  
  background-color: #4a6a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.hero-content {
  max-width: 700px;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #111;
  margin-bottom: 2.9rem;
  line-height: 1.2; /* espacamento entre linhas */
}

.hero-content p {
  color: #333;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.botoesDeAcesso {
  display: flex;
  gap: 1rem; /* espaco entre botoes */
  justify-content: center;
  font-weight: 600;
}

.btnCadastro {
  background: #111;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none; /*tirar linha de link*/
}

.btnLogin {
  background: transparent;
  color: #111;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none; 
}