@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.login-container {
 min-height: 100vh;
  background: linear-gradient(
    180deg,
    #607d9b 0%,
    #42576d 25%,
    #273544 65%,
    #0f1720 100%
  );
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.login-titulo h1 {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 60px;
}

.login-card {
  width: 700px;

  border: 1px solid black;
  border-radius: 15px;

  padding: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.campo label {
  color: white;
  font-size: 18px;
}

.campo input {
  height: 45px;

  border: none;
  border-radius: 15px;

  padding: 10px;
  font-size: 18px;
}

.btn-entrar {
  height: 45px;
  width: 98px;

  background-color: black;
  color: white;

  border: none;
  border-radius: 15px;

  font-size: 22px;
  cursor: pointer;

  margin-top: 10px;
}

.descricao {
  margin-top: 50px;

  font-size: 20px;
  color: #1f2d3d;
}

.cadastro {
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cadastro p {
  color: white;
  font-size: 20px;
}

.cadastro button {
  background-color: black;
  color: white;

  border: none;
  border-radius: 12px;

  padding: 12px 35px;

  font-size: 14px;
  cursor: pointer;
}